.menu {
  display: flex;
  height: 120px;
  width: 100%;
  position: absolute;
  z-index: 5;
  background-color: #4056A1;
  color: #FFFF;
  justify-content: space-between;
  align-content: space-around;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.tweeter-logo {
  display: flex;
  font-family: 'Bungee', cursive;
}

.new-tweet-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

i {
  color: red;
}

.profile {
  display: flex;
  height: 400px;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/pf-background.png");
  background-color: darkgoldenrod;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.profile-pic {
  display: flex;
  justify-content: flex-end;
}

.profile-name {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  /* justify-content: flex-end; */
}